<section id="/">
  <div id="section1">
    <img src="../images/satveer.jpg" width="200px" height="200px" alt="satveer">
    <p>Hello My name is Satveer Singh, studying Mobile Solutions development in
      Conestoga College, Ontario, Canada
      and doing many projects and assignment.
      I am studying Web development MEAN stack, Software development techniques using c#,
      IOS using swift programming and UI/Ux design in courses.
    </p>
  </div>
</section>

<section id="projects">

  <div id="grid">
    <h2>Projects</h2>
    <div class="row">
      <div class="column">
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/android.png"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/csharp.jpg"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/c++.png"> </a>

      </div>
      <div class="column">

        <a href="https://github.com/settidev/" target="_blank"><img src="../images/ios.jpg"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/java.png"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/php.png"> </a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/ui.png"> </a>
      </div>
      <div class="column">

        <a href="https://github.com/settidev/" target="_blank"><img src="../images/ai.jpg"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/c.png"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/gra.png"> </a>

      </div>
      <div class="column">
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/im.jpg"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/mean.jpg"></a>
        <a href="https://github.com/settidev/" target="_blank"><img src="../images/r.jpg"> </a>

      </div>
    </div>
  </div>
</section>

<section id="resume">
  <h2>Resume</h2>
  <iframe src="../resume.pdf" frameborder="0" height="500px" width="500px"></iframe>
</section>

<section id="contact">
  <div id="form">
    Contact Me!!!
    <form action="">
      First Name <br>
      <input type="text" placeholder="Enter your first name"><br>
      Last Name <br>
      <input type="text" placeholder="Enter your last name"><br>
      Email <br>
      <input type="text" placeholder="Enter your email"><br>
      Number <br>
      <input type="text" placeholder="Enter your phone number"><br>
      Comments <br>
      <textarea name="text" id="" cols="30" rows="5"></textarea><br>
      <input type="button" value="Submit">
    </form>
  </div>
</section>